body {
    background-color: #F3F5FC;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
    width: 1024px;
}

ul {
    list-style: none;
}

li:before {
    content: "- "
}


.div-botones {
    position: relative;
    top: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-jugar {
    display: inline-block;
    background-color: #0A3871;
    color: white;
    padding: 24px;
    text-decoration: none;
    border-radius: 24px;
    font-family: monospace;
    font-size: 18px;
    width: 400px;
}

.btn-jugar:hover {
    background-color: #223094;
}

.btn-agregar {  
    display: inline-block;
    background-color: #E1ECF6;
    color: #0A3871;
    padding: 24px;
    text-decoration: none;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: monospace;
    font-size: 16px;
    width: 280px;
}

.btn-agregar:hover {
    background-color: #223094;
    color: #ffffff;
}

.boton-comenzar{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-declinar{
    background-color: #f44336; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





#salida {
    display: inline-block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    color: #AAAAAA;
    background-color: #E1ECF6;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
}

#boton-jugar {
    display: inline-block;
}