.container-palabras {
    text-align: center;
}

.div-palabra{
    position: absolute;
    top: 256px;
    left: 376px;

}

.div-palabra p{
    position: absolute;
    top: 400
    px;
    left: 376;
}

.div-botones2 {
    position: absolute;
    top: 200px;
    text-align: center;
    margin: 20px;
    top: 701px;
    left: 376px;
}

.btn-guardar {
    display: inline-block;
    background-color: #0A3871;
    color: white;
    padding: 24px;
    text-decoration: none;
    border-radius: 24px;
    font-family: monospace;
    font-size: 16px;
    line-height: 19px;
    width: 332px;
}

.btn-jugar:hover {
    background-color: #223094;
}

.btn-cancelar {  
    display: inline-block;
    background-color: #E1ECF6;
    color: #0A3871;
    padding: 24px;
    margin: 10px;
    text-decoration: none;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: monospace;
    font-size: 16px;
    line-height: 19px;
    width: 332px;
}
